/* Print */

@media print {
@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \000038;
    }
}

  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000316;
    }
}

  a,
  a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000320;
    }
}

  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000324;
    }
}

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000330;
    }
}

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000335;
    }
}

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000340;
    }
}

  thead {
    display: table-header-group;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000345;
    }
}

  tr,
  img {
    page-break-inside: avoid;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000349;
    }
}

  img {
    max-width: 100% !important;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000355;
    }
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000361;
    }
}

  h2,
  h3 {
    page-break-after: avoid;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000367;
    }
}

  select {
    background: #fff !important;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000372;
    }
}

  .navbar {
    display: none;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000377;
    }
}

  .table td,
  .table th {
    background-color: #fff !important;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000383;
    }
}

  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000387;
    }
}

  .label {
    border: 1px solid #000;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000391;
    }
}

  .table {
    border-collapse: collapse !important;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/bootstrap-sass\/stylesheets\/bootstrap\/_print\.scss;
    }

    line {
      font-family: \0000396;
    }
}

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \000039;
  }
}

section,
aside,
.header,
footer,
.carousel-indicators,
.carousel-control,
.no-print {
  display: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000313;
  }
}

h3 {
  margin: 0;
  font-size: 17px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000318;
  }
}

.callout {
  height: auto;
  padding-top: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000322;
  }
}

.callout h1 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 15px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000329;
  }
}

a[href]:after {
  content: "";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000333;
  }
}

a[data-toggle="popover"] {
  display: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000337;
  }
}

.link-cli {
  font-size: 16px;
  text-decoration: none;
  margin: 6px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000344;
  }
}

.carousel-inner {
  position: static;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000348;
  }
}

.carousel .item {
  height: auto;
  position: static;
  page-break-inside: avoid;
  padding-top: 0;
  display: inline-block;
  float: left;
  width: 49%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000358;
  }
}

.carousel .item.last {
  width: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000360;
  }
}

.carousel .item.last h2 {
  padding: 10px 0 0 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000365;
  }
}

.carousel .item p {
  line-height: 17px;
  text-transform: none;
  margin-bottom: 9px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000371;
  }
}

.carousel .item:nth-child(2n+1) {
  clear: left;
  margin-right: 2%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000376;
  }
}

.carousel .item .carousel-caption {
  text-align: left;
  position: static;
  page-break-inside: avoid;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000380;
  }
}

.carousel .item .carousel-caption .infos {
  display: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000383;
  }
}

.carousel .item .carousel-caption h3 {
  float: left;
  font-size: 16px;
  line-height: 15px;
  padding-right: 10px;
  margin: 0;
  font-weight: bold;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000389;
  }
}

.carousel .item .carousel-caption h3:after {
  content: ": ";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \0000398;
  }
}

#menu,
.carousel-caption {
  padding: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003102;
  }
}

h1 {
  margin-top: 35px;
  margin-bottom: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003111;
  }
}

.page-header {
  page-break-inside: avoid;
  padding: 30px 0 0 0;
  margin: 0 0 15px;
  font-size: 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003118;
  }
}

section {
  box-shadow: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003122;
  }
}

#tips {
  margin-top: 15px;
  font-size: 14px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003125;
  }
}

#tips,
#tips div {
  border: none;
  font-size: 14px;
  padding: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003130;
  }
}

#tips .panel-title {
  border-bottom: 1px solid rgba(197, 197, 197, 0.8);
  margin-bottom: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003134;
  }
}

#tips .caret {
  display: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003137;
  }
}

#tips .panel {
  margin-bottom: 15px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003140;
  }
}

#tips .panel-body {
  display: block;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003143;
  }
}

#tips ul {
  padding-left: 19px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003145;
  }
}

#tips ul li {
  line-height: 17px;
  padding-bottom: 2px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003152;
  }
}

.print-only {
  display: block;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003156;
  }
}

.panel-heading {
  padding: 5px 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/StudiomiK\/Documents\/Metodo\%20Manniello\/app\/scss\/app-print\.scss;
  }

  line {
    font-family: \00003160;
  }
}

.panel-title {
  text-transform: uppercase;
}