<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <ul class="sidebar-nav nav" role="tablist">
        <li class="sidebar-brand">
            <a href="#inicio">El Método Manniello</a>
        </li>
        <li><a class="option" href="#libro"></a></li>
        <li><a class="option" href="#grupos"></a></li>
        <li><a class="option" href="#alimentos"></a></li>
        <li><a class="option" href="#page"></a></li>
        <li><a class="option" href="#clinica"></a></li>
        <li><a class="option" href="#contacto"></a></li>
    </ul>

</nav>

 

